<div id="<%= dom_id doctor %>">
  <p>
    <strong>Speciality:</strong>
    <%= doctor.speciality %>
  </p>

  <p>
    <strong>Photo:</strong>
    <%= doctor.photo %>
  </p>

  <p>
    <strong>Consulting room:</strong>
    <%= doctor.consulting_room %>
  </p>

</div>
